.update {
    display: flex;
    flex-direction: row; /* Align blocks horizontally */
    gap: 40px; /* Add space between blocks */
    padding: 20px;
    
     /* Full page height */
    justify-content: center; /* Center blocks horizontally */
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
  }
  
  .create-child-block {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center content horizontally */
    justify-content: center;
  }
  
  .home-container {
    position: relative;
    margin-top: 20px; /* Space above the button */
  }
  
  .home-button {
    position: relative;
    background-color: #2ea8b1;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .home-button:hover {
    background-color: #0d5d52;
  }
  
  .create-child-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center; /* Center form content */
  }
  
  .create-btn1{
    background-color: #2ea8b1;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
  }
  .create-btn1:hover{
    background-color: #0d5d52;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  